{% import "bootstrap/wtf.html" as wtf %}

{% block content -%}
	{% block navbar %}
		<nav id="navbarid" class="navbar navbar-expand-lg navbar-dark bg-dark">
			<a class="navbar-brand" href="#">
				<img src="{{ url_for('static', filename='img/nav_logo.png') }}" width="30" height="30" class="d-inline-block align-middle" alt="">
				<span class="h5">TimeTable</span>
			</a>
			  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="True" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			  </button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item {%- if request.path=='/home' %} active{% endif %}"><a href="{{url_for('home')}}" class="nav-link"><i class="fas fa-home"></i> Home</a></li>
					{% if current_user.is_authenticated %}
						{% if current_user.cid == 5 %}
							<li class="nav-item {%- if request.path=='/shifts' %} active{% endif %}"><a href="{{url_for('usershifts')}}" class="nav-link"><i class="fas fa-tasks"></i> Shifts</a></li>
							
						{% elif current_user.cid == 4 %}
							<li class="nav-item dropdown">
							
								<a class="nav-link dropdown-toggle {%- if request.path in ['/mng-shifts', '/create-shifts'] %} active{% endif %}" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<i class="fas fa-align-justify"></i> Shifts
								</a>
								<div class="dropdown-menu" aria-labelledby="navbarDropdown">
									<a class="dropdown-item" href="{{url_for('mngshifts')}}"><i class="fas fa-edit"></i> Manage Shifts</a>
									<a class="dropdown-item" href="{{url_for('createshifts')}}"><i class="fas fa-external-link-alt"></i> Create Shifts</a>
									<a class="dropdown-item" href="#">Another action</a>
									<div class="dropdown-divider"></div>
									<a class="dropdown-item" href="#">Something else here</a>
								</div>
							</li>
							<li class="nav-item dropdown {%- if request.path=='/edit-users' %} active{% endif %}">
								<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<i class="far fa-edit"></i> Employees
								</a>
								<div class="dropdown-menu" aria-labelledby="navbarDropdown">
									<a class="dropdown-item" href="{{url_for('manageemployees')}}"><i class="fas fa-users"></i> Manage Employees</a>
									<a class="dropdown-item" href="{{url_for('createusers')}}"><i class="far fa-plus-square"></i> Create Employee</a>
								</div>
							</li>
						{% endif %}
						<li class="nav-item {%- if request.path=='/shift-hist' %} active{% endif %}"><a href="{{url_for('shifthist')}}" class="nav-link"><i class="fas fa-history"></i> Shift History</a></li>
					{% endif %}
				</ul>
				<ul class="navbar-nav ml-auto">
					{% if current_user.is_authenticated %}
						<li class="nav-item" data-toggle="modal" data-target="#userDetModel"><a id="usericons_nav" class="nav-link text-warning" href="#"><i class="fas fa-user"></i> {{ current_user.username }}</a></li>
						<li class="nav-item"><a class="nav-link" href="{{url_for('logout')}}"><i class="fas fa-sign-out-alt" aria-hidden="true"></i> Logout</a></li>
					{% else %}
						<li class="nav-item"><a class="nav-link" href="#"><i class="fas fa-user-plus"></i> Sign Up</a></li>
						<li class="nav-item"><a class="nav-link" href="{{url_for('login')}}"><i class="fas fa-sign-in-alt"></i></span> Login</a></li>
					{% endif %}
				</ul>
			</div>
		</nav>
	{%- endblock navbar %}
	
	<div class="modal fade" id="userDetModel" tabindex="-1" role="dialog" aria-labelledby="userDetModalLabel" aria-hidden="true">
	  <div class="modal-dialog" role="document">
		<div class="modal-content">
		  <div class="modal-header">
			<h5 class="modal-title" id="userDetModalLabel"><span>User Details: </span>{{ current_user.username }}</h5>
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
			  <span aria-hidden="true">&times;</span>
			</button>
		  </div>
		  <div class="modal-body">
				<form>
				{{ usernavform.csrf_token(id="nav_csrf_token") }}
				  <div class="form-group row">
					<label for="staticEmail" class="col-sm col-form-label">{{ usernavform.agencyname.label }}</label>
					<div class="col-sm-8">
					  <input type="text" readonly class="form-control-plaintext ud" id="ud_agencyname" value="{{ current_user.agencyname }}">
					</div>
				  </div>
				  <div class="form-group row">
					<label for="staticEmail" class="col-sm col-form-label">{{ usernavform.teamgroupname.label }}</label>
					<div class="col-sm-8">
					  <input type="text" readonly class="form-control-plaintext ud" id="ud_teamgroupname" value="{{ current_user.teamgroupname }}">
					</div>
				  </div>
				  <div class="form-group row">
					<label for="staticEmail" class="col-sm col-form-label">{{ usernavform.userclassname.label }}</label>
					<div class="col-sm-8">
					  <input type="text" readonly class="form-control-plaintext ud" id="ud_userclassname" value="{{ current_user.userclassname }}">
					</div>
				  </div>
				  <div class="form-group row">
					<label for="staticEmail" class="col-sm col-form-label">{{ usernavform.empname.label }}</label>
					<div class="col-sm-8">
					  <input type="text" readonly class="form-control-plaintext ud" id="ud_empname" value="{{ current_user.name }}">
					</div>
				  </div>
				  <div class="form-group row">
					<label for="staticEmail" class="col-sm col-form-label">{{ usernavform.lastname.label }}</label>
					<div class="col-sm-8">
					  <input type="text" readonly class="form-control-plaintext ud" id="ud_lastname" value="{{ current_user.lastname }}">
					</div>
				  </div>
				  <div class="form-group row">
					<label for="staticEmail" class="col-sm col-form-label">{{ usernavform.email.label }}</label>
					<div class="col-sm-8">
					  <input type="text" readonly class="form-control-plaintext ude" id="ud_email" value="{{ current_user.email }}">
					</div>
				  </div>
			</form>
		  </div>
		  <div class="modal-footer">
			<button id="userpresdet" type="button" class="btn btn-info">Edit</button>
			<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			<button id="submit_pers_det" type="button" class="btn btn-primary">Save changes</button>
		  </div>
		</div>
	  </div>
	</div>
{%- endblock content %}


