.notifyjs-corner {
	top: 55px !important;
}

.jumbotron {
	border-style: solid;
    border-color: LightGray ;
	background-image: url('https://thumbs.dreamstime.com/z/timetable-illustration-written-blackboard-school-supplies-object-57954530.jpg');
}

@font-face {
    font-family: 'myFirstFont'; /*a name to be used later*/
    src: url('/static/fonts/OldRubberStamp.ttf'); /*URL to font*/
    font-weight: bold;
}

.approve {
	transform: rotate(5deg);
	font-family: 'myFirstFont';
	font-size: 20px;
	/*position: absolute;*/
	padding-left: 10px;
}

#approved {
	color: green;
}

#notapproved {
	color: red;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.ud {
	font-weight: bold;
}

span{
   font-weight: normal;
}

/* for manage-employees 
.card .collapse {
    max-height: 200px;
    overflow-y: auto;
}
*/

/* Sortable tables */
table.sortable thead {
    cursor: pointer;
}