{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
	<h2>Create Shifts</h2>
	<form method="POST" action="/create-shifts">
		<p> Hi {{ current_user.username }}, Here you can create a new shifts for your teams.</p>
		<div class="form-group">
			<div class="col-md-4 col-md-offset-3 column">
				{{ wtf.quick_form(form)}}
				<input class="btn btn-secondary" type="submit" value="Add Shift">
			</div>
		</div>
	</form>	
{% endblock %}
