{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
	<h2>Create Users</h2>
	<form method="POST" action="/create-users">
		<p> Hi {{ current_user.username }}, Here you can create a new users for your teams.</p>
		<div class="form-group">
			<div class="column col-md-12">
			{{ createuserform.csrf_token }}
				<div class="form-row">
					<div class="form-group col-md-3 col-auto">
						{{ createuserform.agencyname.label }}
						{{ createuserform.agencyname(class_="form-control", required="") }}
					</div>
					<div class="form-group col-md-3 col-auto">
						{{ createuserform.t_list.label }}
						{{ createuserform.t_list(class_="form-control", required="") }}
					</div>
					<div class="form-group col-md-3 col-auto">
						{{ createuserform.c_list.label }}
						{{ createuserform.c_list(class_="form-control", required="") }}
					</div>
				</div>
				<div class="form-row">
					<div class="form-group required col-md-3 col-auto">
						{{ createuserform.username.label(class_="control-label") }}
						{{ createuserform.username(class_="form-control", required="") }}
					</div>
					<div class="form-group col-md-3 col-auto">
						{{ createuserform.name.label }}
						{{ createuserform.name(class_="form-control", required="") }}
					</div>
					<div class="form-group col-md-3 col-auto">
						{{ createuserform.lastname.label }}
						{{ createuserform.lastname(class_="form-control", required="") }}
					</div>
				</div>
				<div class="form-row">
					<div class="form-group col-md-3 col-auto">
						{{ createuserform.email.label }}
						{{ createuserform.email(class_="form-control", required="createuserform.email.flags.required") }}
						<small id="agencynameHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
					</div>
					<div class="form-group col-md-3 col-auto">
						{{ createuserform.password.label }}
						{{ createuserform.password(class_="form-control", required="createuserform.password.flags.required") }}
						<small id="agencynameHelp" class="form-text text-muted">Between 5 and 20 characters</small>
					</div>
					<div class="form-group col-md-3 col-auto">
						{{ createuserform.confirm.label }}
						{{ createuserform.confirm(class_="form-control", required="") }}
					</div>
				</div>
				<div class="form-row">
					<div class="form-group">
						<div class="form-check col">
							{{ createuserform.isblock(class_="form-check-input")  }}
							{{ createuserform.isblock.label(class_="form-check-label") }}
						</div>
					</div>
					<div class="form-group">
						<div class="form-check col">
							{{ createuserform.isauth(class_="form-check-input")  }}
							{{ createuserform.isauth.label(class_="form-check-label") }}
						</div>
					</div>
				</div>
				{{ createuserform.submit(class_="btn btn-secondary") }}
			</div>	
		</div>
	</form>	
{% endblock %}