{% extends "bootstrap/base.html" %}

{% block content %}

	<div class="jumbotron jumbotron-fluid">
		<div class="container">
			<!--h1 class="display-4">Fluid jumbotron</h1>
			<p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p-->
			<h1 class="display-4">The <font color="red">New</font> TimeTable App</h1>
			<p class="lead">Smart, Efficient and Easy to use</p> 
		</div>
	</div>

	<h6>Hi {% if current_user.is_authenticated %} {{ current_user.username }} {% else %} All {% endif %}
	<i class="fab fa-angellist fa-2x text-secondary"></i>, Welcome to TT-App</h6>
	
	<div class="row">
		<div class="col-sm-4">
		  <h3>Technologies</h3>
		  <p>TimeTable webapp core currently built using <a href="https://www.python.org/" target="_blank">Python 3</a> and <a href="http://flask.pocoo.org/" target="_blank">Flask</a>.
		  Running on <a href="https://cloud.google.com/compute/" target="_blank">Google compute engine</a> instance together with <a href="https://www.postgresql.org/" target="_blank">PostgreSQL</a> open source DB.
		  </p>
		  <p>Using many technologies like <a href="https://jquery.com/" target="_blank">JQuery</a>,
			<a href="https://getbootstrap.com/" target="_blank">Bootstrap</a>,
			<a href="https://notifyjs.jpillora.com/" target="_blank">Notify.JS</a>,
			<a href="https://fontawesome.com/" target="_blank">FontAwesome</a>,
			<a href="https://git-scm.com/" target="_blank">Git</a>,
			<a href="https://wtforms.readthedocs.io/en/stable/" target="_blank">Wtforms</a> <small>(with Flask-WTF)</small> and 
			<a href="https://flask-login.readthedocs.io/en/latest/" target="_blank">Flask-Login</a> to get the requested resault we want.</p>
		</div>
		<div class="col-sm-4">
			<h3 class="bg-info text-white">Version 0.2 is HERE!</h3>
			<ul>
				<li>Edit personal details for employees and managers</li>
				<li>Improve authorize system</li>
				<li>Last git commits logs</li>
				<li>Enhance template model</li>
				<li>Better Loggers</li>
				<li>New icons</li>
				<li>Shifts history log for employees</li>
			</ul>
		</div>
		<div class="col-sm-4">
			  <h3>Open Source</h3>
			  <p>Current source can be found on my <a href="https://bitbucket.org/ohad24/tt_site" target="_blank">BitBucket account</a>. It include the development source code on Master branch.</p>
			  <p>CURRENTLY ON DEVELOPMENT. So there is still no written docomentations.
			  The idea is to make people learn from this example app. You can try to contribute by mark bugs for me and suggest new featurs and ideas to <a href="mailto:ohad24@gmail.com?Subject=#TT_SITE" target="_top">ohad24@gmail.com</a>
			  </p>
		</div>
	</div>
	<div class="row"></div>
	
	<h5>Last Git commits <span> (last two weeks)</span></h5>
	<table class="table table-sm">
		<thead>
			<tr>
				<th scope="col">#</th>
				<th scope="col">Since</th>
				<th scope="col">Date</th>
				<th scope="col">Desc.</th>
			</tr>
		</thead>
		<tbody>
			{% for commitrow in l_git_last_commit %}
				<tr>
					<th scope="row">{{ commitrow[0] }}</th>
					<td>{{ commitrow[1] }}</td>
					<td>{{ commitrow[2] }}</td>
					<td>{{ commitrow[3] }}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>  
{% endblock %}