{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
	<h3>Login to TimeTable</h3>
	<form method="POST" action="/login">
		<div class="col-md-4">
			  <div class="form-group">
				<div class="input-group">
				{{ form.agency.label(class_="input-group-text") }}
					<!--label class="input-group-text" for="inputGroupSelect01"></label-->
				  {{ form.agency(class_="custom-select") }}
				</div>
			  </div>
			  <div class="form-group">
				<label for="exampleInputUser">{{ form.username.label }}</label>
				<input name="username" class="form-control" id="exampleInputUser" aria-describedby="emailHelp" placeholder="Enter username">
			  </div>
			  <div class="form-group">
				<label for="exampleInputPassword1">{{ form.password.label }}</label>
				<input name="password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
			  </div>
			  <input class="btn btn-secondary" type="submit" value="Login">
		</div>
	</form>
{% endblock %}