{% extends "bootstrap/base.html" %}

{% block content %}
	<h2>Manage Employees</h2>
	<p> Hi {{ current_user.username }}, here you can and manage your teams employees. </p>
	<h5>Your teams : </h5>
	<div class="row">
		<div class="col-9">
		<div id="accordion">
			{% for row in manage_employees_accordion_data %}
				<div class="card border-dark mb-2"> <!-- col-md-6 mb-2 bg-dark text-white-->
					<div class="card-header" id="heading{{ row['teamgroupid'] }}">
						<div class="row">
							<div class="col-sm-5">
								<a href="#" class="text-dark collapsed" data-toggle="collapse" data-target="#collapse{{ row['teamgroupid'] }}" aria-expanded="true" aria-controls="collapse{{ row['teamgroupid'] }}">
									<font size="4"><b class="c_teamgroupid" value="{{ row['teamgroupid'] }}">#{{ row['teamgroupid'] }}</b><span> {{ row['teamgroupname'] }}</span></font>
								</a>
							</div>
							<div class="col-sm">
								<div class="text-right text-secondary">Employees Count: <strong>{{ row['emp_count'] }}</strong></div>
							</div>
						</div>
					</div>

					<div style="max-height: 200px;overflow-y: auto;" id="collapse{{ row['teamgroupid'] }}" class="collapse" aria-labelledby="heading{{ row['teamgroupid'] }}" data-parent="#accordion">
						<div class="card-body">
							<div class="table-responsive">
								<table class="table table-sm sortable">
									<thead>
										<tr>
											<th scope="col">Id<span id="sorttable_sortrevind">&nbsp;▴</span></th>
											<th scope="col">Username</th>
											<th scope="col">Name</th>
											<th scope="col">Lastname</th>
											<th scope="col">Email</th>
										</tr>
									</thead>
									<tbody id="t_body-{{ row['teamgroupid'] }}">
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
		</div>
		<div class="col">
			<h5>Last modified employees:</h5>
			<p>Comming soon..</p>
		</div>
		
	</div>
	<br>
	
	<!-- Modal -->
	<div class="modal fade" id="emp_detailModel" tabindex="-1" role="dialog" aria-labelledby="emp_detailModelLabel" aria-hidden="true">
	  {{ empdetails.csrf_token }}
	  <div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="emp_detailModelLabel"></h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				  <span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<p>Changing the team and class for employees will <b>come soon</b> on separate page.</p>
				<div class="form-group row">
					<label for="ed_staticAgencyname" class="col-sm col-form-label">{{ empdetails.agencyname.label }}</label>
					<div class="col-sm-8">
					<input type="text" readonly class="form-control-plaintext emp_det_field" id="ed_agencyname">
					</div>
				</div>
				
				<div class="form-group row">
					<label for="ed_staticTeamgroupname" class="col-sm col-form-label">{{ empdetails.teamgroupname.label }}</label>
					<div class="col-sm-8">
					<input type="text" readonly class="form-control-plaintext emp_det_field" id="ed_teamgroupname">
					</div>
				</div>
			

				<div class="form-group row">
					<label for="ed_staticUserclassname" class="col-sm col-form-label">{{ empdetails.userclassname.label }}</label>
					<div class="col-sm-8">
					<input type="text" readonly class="form-control-plaintext emp_det_field" id="ed_userclassname">
					</div>
				</div>
			
				<div class="form-group row">
					<label for="ed_staticEmpname" class="col-sm col-form-label">{{ empdetails.empname.label }}</label>
					<div class="col-sm-8">
					<input type="text" readonly class="form-control-plaintext emp_det_field_upd" id="ed_empname">
					</div>
				</div>
				
				<div class="form-group row">
					<label for="ed_staticLastname" class="col-sm col-form-label">{{ empdetails.lastname.label }}</label>
					<div class="col-sm-8">
					<input type="text" readonly class="form-control-plaintext emp_det_field_upd" id="ed_lastname">
					</div>
				</div>
			
				<div class="form-group row">
					<label for="ed_staticEmail" class="col-sm col-form-label">{{ empdetails.email.label }}</label>
					<div class="col-sm-8">
					<input type="text" readonly class="form-control-plaintext emp_det_field_upd" id="ed_email">
					</div>
				</div>
				
				<div class="form-group row">
					<label for="ed_staticIsBlock" class="col-sm form-check-label">Is Block</label>
					<div class="col-sm-8">
					<input type="checkbox" readonly class="form-check-input emp_det_field_upd" id="ed_isblock">
					</div>
				</div>
		  </div>
		  <div class="modal-footer">
			<button id="empopenedit" type="button" class="btn btn-info">Edit</button>
			<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			<button id="submit_update_emp_det" type="button" class="btn btn-primary">Save changes</button>
		  </div>
		</div>
	  </div>
	</div>
{% endblock %}


{% block scripts %}
{{super()}}
	<script src="{{ url_for('static', filename='sorttable.js') }}"></script>
	<script src="{{ url_for('static', filename='js/manageemployees.js') }}"> </script>
{% endblock %}