{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
	<h2>Manage Shifts</h2>
	<p> Hi {{ current_user.username }}, here you can manage your teams shifts.
	<br>
	NOTE!, employees can't see shifts which isn't approved.</p>
	{# shifts_data #}
	<div class="table-responsive">
		<table class="table text-center table-striped table-sm sortable">
			<thead>
				<tr>
					<th scope="col">#<span id="sorttable_sortrevind">&nbsp;▴</span></th>
					<th scope="col">Shift Name</th>
					<th scope="col">Team Name</th>
					<th scope="col">From Date</th>
					<th scope="col">To Date</th>
					<th scope="col">Mand.</th>
					<th scope="col">Opt.</th>
					<th scope="col">Total</th>
					<th scope="col">Approved</th>
					<th scope="col">Waiting</th>
				</tr>
			</thead>
			<tbody id="t_body">
			</tbody>
		</table>
	</div>

	
	<!-- Modal -->
	<div class="modal fade bd-example-modal-lg" id="shift_editModel" tabindex="-1" role="dialog" aria-labelledby="shift_detailModelLabel" aria-hidden="true">
	  <div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="shift_detailModelLabel"></h5><a id="shift_approve_status" class="text-right approve"></a>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				  <span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<p>Changing the team and class for employees will <b>come soon</b> on separate page.</p>
				
				<div class="input-group mr-4">
					<div class="col">
						<select id="avaiable_emps_select" class="form-control">
							<option>Default select</option>
						</select>
					</div>
					<div class="col">
						<a id="addempbtn" href="#" class="text-primary">Add Employee</a>
					</div>
				</div>
				
				<div class="table-responsive">
					<table class="table text-center table-striped table-sm sortable">
						<thead>
							<tr>
								<th scope="col">#<span id="sorttable_sortrevind">&nbsp;▴</span></th>
								<th scope="col">Username</th>
								<th scope="col">Approved By</th>
								<th scope="col">Approved Date</th>
								<th scope="col"></th>
								<th scope="col"></th>
							</tr>
						</thead>
						<tbody id="t_body_s_det">
						</tbody>
					</table>
				</div>
			</div>
			<div id="modal-footer_shift_emps" class="modal-footer">
				<button id="delte_shift_btn" type="button" class="btn btn-danger">Delete Shift</button>
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				<!--button id="submit_update_emp_det" type="button" class="btn btn-primary">Save changes</button-->
			</div>
		</div>
	  </div>
	</div>
{% endblock %}

{% block scripts %}
{{super()}}
	<script src="{{ url_for('static', filename='sorttable.js') }}"></script>
	<script src="{{ url_for('static', filename='js/mngshifts.js') }}"> </script>
{% endblock %}