{% extends "bootstrap/base.html" %}

{% block content %}
	<h2>Shifts History</h2>
	<p> Hi {{ current_user.username }}, Here you can view your team shift history (last month).
		<br>
		The table will show all the past shift by this filter
		<code> shiftEndDate < now() + (1 || 'hour')::INTERVAL</code>
	</p>
	{# shift_hist_data #}
	<div  class="table-responsive">
		<table id="table_hist" class="table table-striped table-sm text-center sortable">
			<thead>
				<tr>
				  <th scope="col">ShiftId</th>
				  <th scope="col">Team</th>
				  <th scope="col">From Date<span id="sorttable_sortrevind">&nbsp;▴</span></th>
				  <th scope="col">To Date</th>
				  <th scope="col">Name (desc.)</th>
				  <th scope="col">Emp req.</th>
				  <th scope="col">Emp worked</th>
				</tr>
			</thead>
			<tbody>
				{% for shift in shift_hist_data %}
					<tr>
						<th scope="row">{{ shift.shiftid }}</th>
						<td>{{ shift.teamgroupname }}</td>
						<td>{{ shift.fromdate }}</td>
						<td>{{ shift.todate }}</td>
						<td>{{ shift.shiftdescription }}</td>
						<td>{{ shift.total_emp_req }}</td>
						<td>{{ shift.emp_worked }}</td>
					</tr>
				{% endfor %}
		  </tbody>
		</table>
	</div>
{% endblock %}

{% block scripts %}
{{super()}}
	<script src="{{ url_for('static', filename='sorttable.js') }}"></script>
{% endblock %}