{% extends "bootstrap/base.html" %}

{% block content %}
	<h2>Apply Shifts</h2>
	<p> Hi {{ current_user.username }}, this is your next future shifts you can apply for.</p>
	<div class="form-group">
		<div class="row">
			{% for row in rowsd %}
				<div class="col-sm-4">
				<div class="card border-dark mb-2">
				<div id="card-{{row['shiftid']|string}}"class="card-body">
					<h5 class="card-title">{{ row['shiftid']|string + '# ' + row['status']|string + row['shiftdescription'] }}</h5>
					<h6 class="card-subtitle text-muted mb-2">{{ row['fromdate']|string + ' - ' + row['todate'] }}</h6>
					<p class="card-text count_data">Employees required: mand. <a id="mandatoryemploeeysnum-{{ row['shiftid']|string }}">{{ row['mandatoryemploeeysnum'] }}</a> opt. <a id="optionalemploeeysnum-{{ row['shiftid']|string }}">{{ row['optionalemploeeysnum'] }}</a>
					Approved Users : {{ row['ul']|string }}</p>
					<a href="#" class="btn btn-primary" id="{{ 'cnt' + row['shiftid']|string }}">{{ row['count_'] }}</a>
					{% if row['status_'] == 'open' %}
						<button id="{{'btn' + row['shiftid']|string}}" value="{{ row['shiftid']|string }}" class="btn btn-secondary applyshift">Applay</button>
					{% elif row['status_'] == 'wait' %}
						<button id="{{'btn' + row['shiftid']|string}}" class="btn btn-info">{{ UStatus['wait'] }}</button>
						<button id="{{'btnc' + row['shiftid']|string}}" class="btn btn-link cancelshift" style="display: true;" value="{{ row['shiftid']|string }}">Cancel</button>
					{% elif row['status_'] == 'approve' %}
						<button class="btn btn-success">{{ UStatus['approve'] }}</button>
					{% elif row['status_'] == 'full' %}
						<button class="btn btn-warning">{{ UStatus['full'] }}</button>
					{% endif %}
				</div>
				</div>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}


{% block scripts %}
{{super()}}
	<script src="{{ url_for('static', filename='js/usershifts.js') }}"> </script>
{% endblock %}



